.conversion_title
{
    text-align: center;
    margin-top: 10%;
}

.currency_start
{
    position: absolute;
    left: 20%;
}

.currency_end
{
    position: absolute;
    right: 20%;
}

.amount
{
    position: absolute;
    top: 20%;
    left: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.currency_conv
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    border-style: solid;
    border-width: 3px;
    font-size: 30;
    background-color: white;
}

body
{
    background-color: lightgray;
}

.last_upt
{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.next_upt
{
    position: absolute;
    bottom: 5%;
    right: 5%;
}